body {
  background-image: url("https://pbs.twimg.com/media/DAhnMwLW0AAlIKA.jpg");
  background-size: cover;
}

.boxer {
    height:100px;
    display: block;
    width: 300px;
    font-size:14pt;
    margin: 5%;
}

#demo {
  font-size: 18px;
  margin: 5% 20% 15% 20%;
    font-family: 'Montserrat', sans-serif;
}
